/* CSS初始化 */
html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body { padding: 0; margin: 0; font-size: 12px; font-family: "helvetica neue", helvetica, arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "SimHei", Sans-serif;}
a { color: #222; text-decoration: none; }
a:hover { color: #56a4ea; }
ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, hr, img, div, label, span, p{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 ,h7 ,h8 ,h9 { font-weight: normal;  font-family:"Microsoft YaHei",微软雅黑,"SimSun","Microsoft JhengHei",华文细黑,STHeiti,MingLiu,arial;}
input { font-size: 12px; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 12px; }
img { border: 0 none; }
ul, li { list-style: none outside none; }
input { font-family: Arial, Helvetica, sans-serif; }
a{color:#2d374b;text-decoration:none}
a:hover{color:#08c;text-decoration:none}
em{font-style:normal}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.dno{display:none;}
.dbl{display:block;}
.ahd{cursor:pointer;}
.tal{text-align:left;}
.cet{text-align:center;}
.tar{text-align:right;}
.abso{position:absolute;}
.rela2{_position:static!important;*position:static!important;}
.rela{position:relative;}
.pfix{position:fixed;}
.red{color:red;}
.show{
	margin-top:10px;
}
.show_content{
	margin-top:10px;
}
.shower{
	background:url('images/more4.png') no-repeat 96% 26px;
	background-size:13px auto;
	padding-right: 20px;
}
.hider{
	background:url('images/more2.png') no-repeat 96% 26px;
	background-size:13px auto;
	padding-right: 20px;
}
body{
	background:#ededed;
}
.header{
	position:relative;
	background:#f6f7f8
}
.header img{
	width:100%;
}
.title_wrap {
  height: 50px;
  font-size: 40px;
  overflow: hidden;
  position: relative;
  margin:0px 10px 20px;
  padding-top: 40px;
}
.title_wrap_overflow_initial {
   overflow: initial !important;
}
.header .title{
	color:#333;
	font-size:23px;
  	padding:0px!important;
}
.header .biz_desc{
	font-size: 16px;
	padding: 0px 10px 20px 10px;
	line-height: 24px;
	text-indent: 24px;
}
.header .inner-logo{
	border-radius:150px;
	height:150px;
	width:150px;
	position:absolute;
	left:50%;
	margin-left:-75px;
	margin-top:-118px;
}
.top_right_menu{
	background: url('images/qrcode.png') no-repeat 0px 0px;
	width: 22px;
	height: 22px;
	background-size: 23px;
	display: block;
	position: absolute;
	top: 15px;
	right: 20px;
}
/*显示二维码部分*/
.tips{
	background-color: rgb(255, 255, 255) !important;
	border-radius: 5px;
	margin: 0 auto;
	width: 100%;
	z-index: 99;
	width: 160px;
	position: fixed;
	left: 50%;
	margin-left: -80px;
	top: 50%;
	margin-top: -144px;
}
.tips img{width:100%;}
.contact_link{
	background: #f5f5f5 url('images/d.png') no-repeat;
	display: block;
	width: 160px;
	margin-left: -6px;
	margin-top:5px;
	height: 45px;
	line-height: 45px;
	margin-bottom: -8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-size: 18px;
	background-position: 8px 12px;
	font-size: 16px;
	border-top: 1px solid #eee;	
}
.tips .qr_close {
	position: absolute;
	width: 33px;
	height: 33px;
	right: -15px;
	top: -18px;
	background: url('images/c.png') no-repeat;
	background-size: 100% 100%;
	z-index: 3;
}
/* basic_contact */
.basic_contact{
	background:#fff;
	margin-bottom:10px;
}
.basic_contact ul{
	display:block;
}
.basic_contact ul li{
	border-bottom:1px solid #e5e5e5;
	background:url('images/more3.png') no-repeat 96% 17px;
	background-size:7px auto;
}
.basic_contact ul li.contcact_weixin{position: relative;background: none}
.basic_contact ul li a{
	padding:15px 10px;
	display:block;
	color:#333;
	font-size:16px;
	line-height: 20px;
}
.basic_contact ul li .addr_map_btn{
	color:#fff;
	text-align:center;
	border-radius:4px;
	margin-bottom:10px;
	padding:10px 0;
}
/* tree_box */
.tree_box{
	background:#fff;
}
.tree_box .tree_box_title{
	border-bottom:1px solid #ddd;
	min-height:50px

}
.tree_box .tree_box_title h2{
	color:#666666;
	padding:15px 10px;
	font-size:18px;
}
.tree_box .tree_box_content_img img{
	width:100%;
}
.tree_box_content{
	margin-bottom:10px;
}
.tree_box .tree_box_content .desc{
	padding:10px;
	font-size:14px;
	color:#666;
	line-height:24px;
}
.tree_box .tree_box_content .desc li{
        list-style: initial;
        margin-left:20px;
}

.enter_clsdir{
	color:#666;
	text-align:center;
	font-size:16px;
	line-height:40px;
	margin-bottom:10px;
}
.enter_clsdir a{
	display:block;
	position:relative;
	color:#666;
}
.enter_clsdir i{
	background:url('images/more3.png') no-repeat;
	height:30px;
	width:20px;
	background-size:7px auto;
	position: absolute;
	top:13px;
	margin-left: 8px;
}
.tree_box_content_file ul{
	display:block;
}
.tree_box_content_file ul li{
	line-height:24px;
}
.tree_box_content_file ul li a{
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 10px 40px 10px 15px;
	font-size: 14px;
	word-wrap:break-word;
}
.file_download{
	background:url('images/do.png?v=123') no-repeat 96.5% 10px;
	background-size:18px
}
.tree_box_content .contact_ele_a:last-child a {
	border-bottom:none;
}
.tree_box_content_file ul li:last-child a {
	border-bottom:none;
}
.audio_play_box {
	height: 160px;
	width: 100%;
	position: relative;
	background-size: 100%;
}
.audio_play_box a span {display:none}.{
	display:inline-block;width:55px;
	height:55px;-webkit-border-radius:55px;
	-moz-border-radius:55px;
	border-radius:55px
}
.audio_play_box a.play .play_neiyuan{
	width: 80px;
	height: 80px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	left: 50%;
	top: 40px;
	margin-left: -40px;
}
.video1_play_box div.play .play_neiyuan{
	margin:10px;
	width:36px;
	height:36px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px
}
.audio_play_box a.play .play_neiyuan
.audio_play_btn{
	background: url('images/audio.png') no-repeat;
	width: 80px;
	height: 80px;
	background-size: 167px auto;
}
.audio_play_box a.play .play_neiyuan
.audio_stop_btn{
	background: url('images/audio.png') no-repeat;
	width: 80px;
	height: 80px;
	background-size: 167px auto;
	background-position:-92px 0px 

}
.play_boder_color {
	border: 4px solid #7f7f7f;
	background: #fff;
}
.video1_view {
	position:relative;
	text-align:center;
	margin-bottom:10px;
}
.video1_play_btn {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	margin:-24px 0 0 -24px;
	width:48px;
	height:48px;
	background:url("mobile/images/video_playbutton_48x48.png") no-repeat;50% 50% no-repeat;
	border-radius:5px
}
.video1_play {
	position: absolute;
	left: 50%;
	background: rgba(255, 255, 255, 0.3);
	top: 50%;
	border:6px solid #fff;
	width: 100px !important;
	height: 100px !important;
	margin-left: -56px;
	margin-top: -56px;
	border-radius: 100px !important;
}
.video1_play_box div.play .play_neiyuan
.audio_play_btn {
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 40px solid #fff;
	top: 15px;
	left: 30px;
}
.video_image {
	width: 100%;
}
.video1_is_unfold {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.youku iframe {
	min-height: 300px;
	margin-bottom:-4px;
}
.intera_desc{
	background:url('images/more.png') no-repeat 96% 16px;
	padding-right:22px!important;
	background-size:8px auto;
	display:block;
}
.link_list li{
	background:url('images/more3.png') no-repeat 96% 16px;
	background-size:7px auto;
	width:100%;
}
.link_list li a{
	padding-right:22px!important;
	display:block;
	border-bottom:1px solid #ddd;
	padding:15px 0;	
	font-size:14px;
	margin:0 10px;
}
.link_list li:last-child a{border-bottom:none;}
.contact_ele_a{
	background:url('images/more3.png') no-repeat 96% 16px;
	background-size:7px auto;
}
.contact_ele_a.maplink {
   background: none;
}
.baidumaplink span{display: inline-block;}
.maplink .mapaddress{  display: block;margin-right: 60px;margin-left: 40px;overflow: hidden;}
.maplink .mapicon{  display: inline-block;vertical-align: middle;font-size: 12px;color: #d03f44;line-height: 22px;text-align: center;font-style: normal;border: 1px solid #af4d4c;border-radius: 2px;padding: 0px 14px;-webkit-border-radius: 2px;margin-left: 5px;}
.contact_ele_a a.baidumaplink{padding-right: 0;}
.contact_ele_a a{
	border-bottom:1px solid #ddd;
	font-size:14px;
	margin:0 10px;
	display:block;
	padding:15px 0;
	word-wrap:break-word;
   	word-break:break-all;
   	overflow: hidden;
   	padding-right: 16px;
}
.line_btn{
	color:#fff;
	background:#ff6600;
	display:block;
	padding:7px 15px;
	text-align:center;
	margin:0px 15px 5px 15px;
	font-size:16px;
	border-radius:4px;

}
.line_btn:hover{
	color:#fff;
}
.mcover{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.6);
	display:none;
	z-index: 1999
}
.mcover img{
	position:absolute;
	right:0px;
	width:60%;
}
.fav{
	background:url('images/30.png') no-repeat 96% 19px;
	background-size:16px 16px;
}
.fav h2{
	padding:15px 30px 15px 10px!important;
}
.weixin_bg{
	background:url('images/28.png') no-repeat 96% 19px;
	background-size:16px 16px;
	color:#666;
/*	border-bottom:1px solid #ddd;*/
}
.weixin_bg h2{
	padding:15px 30px 15px 10px!important;
}
.vcard{
	padding-bottom:10px;
	padding:10px;
	min-height:70px
}
.tree_box .tree_box_content .vcard .vcard_face {
	float: left;
	margin-right: 20px;
	width: 70px;
	height: 70px;
	position: relative;
}
.tree_box .tree_box_content .vcard .vcard_face img {
	width: 70px;
	height: 70px;
	border-radius:50%;
}
.vcard_top_info{
	margin-left:20px;
}
.vcard_data_name{
	font-size:18px;
	color:#333;
	line-height:30px
}
.vcard_data_position_org{
	color:#666;
	font-size:14px;
	line-height:20px
}
.desc img{
	max-width:100%
}
.tel,.weibo,.web,.link,.mobile,.sinaweibo,.qq{

}
.rich_text{
	line-height:24px;
	color:#666;
	font-size:14px;
	text-align: justify;
}
.rich_text span{
	line-height:24px;
	color:#666;
	font-size:14px;
}
.rich_text img{
	max-width:100%;
}
.no_title{
	margin-top:10px;
	width: 100%;
}
.afatra_submit_btn{
	color:#fff;
	display: block;
	padding: 7px 15px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
}
.afatra_input{
	width: 100%;
	line-height: 30px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-indent: 0.5em;
	margin-top: 10px;
}
.adr {
	background:none!important;
}
.soncode_header{
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding:15px 0;
	margin-bottom:10px;
}
.soncode_foot{
	background: #fafafa;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	margin-top:50px;
}
.soncode_foot a{
	display:block;
	color:#333;
}
.soncode_foot i{
	background: url('images/more5.png') no-repeat;
	background-size: 7px auto;
	font-style: normal;
	height: 14px;
	width: 10px;
	top: 50%;
	position: absolute;
	margin-top: -7px;
	margin-left: -13px;
}
.soncode_container{
	padding-bottom:50px;
}
.banner { 
	position: relative; 
	overflow: auto;
}
.banner li { 
	list-style: none; 
}
.banner ul li { 
	float: left;
	overflow:hidden
}
.banner ul li a {
	display:block;
	width:100%;
	height:100%;
}	
.scroll_top {
	position: fixed;
	right:10px;
}
.scroll_top_a {
	background:url(images/icon_top.png) no-repeat center center;
	filter:alpha(opacity=50);
	opacity:0.50;
	border-radius:2px;
	background-color: rgba(0,0,0,.6);
	width:32px;
	height:30px;
	display:block;
}

.regcontact {
   background-color: #fff;
   width:100%;
}
.regcontact1 {
   background-color: #fff;
   width:100%;
   padding-top: 5px;
    
}
.regcontact2 {
   background-color: #fff;
   width:100%;
   display: none;
}
.reginput{
   position: relative;
   padding:5px 10px ;
   overflow:auto;

}
.reginput  .reginput_name {
   width: 30%;
   float: left;
   font-size: 14px;
   line-height: 16px;
}
.reginput  .reginput_value {
   width: 70%;
   float: left;
   font-size: 14px;
   line-height: 16px;
   text-align: inherit;
}
.regtextarea{
   position: relative;
   padding: 5px 10px ;
   overflow:auto;
}
.regtextarea  .regtextarea_name {
   width: 30%;
   float: left;
   font-size: 14px;
   line-height: 16px;
}
.regtextarea  .regtextarea_value {
   width: 70%;
   float: left;
   font-size: 14px;
   line-height: 16px;
   text-align: inherit;
   word-wrap:break-word;
   word-break:break-all;
}
.regpicupload{
   position: relative;
   padding:5px 10px 7px 10px;
}
.regpicupload  .regpicupload_name {
   width: 100%;
   font-size: 14px;
   padding: 5px 0px;
   line-height: 14px;
}
.regpicupload  .regpicupload_value {
   width: 100%;
}
.regpicupload img {
   width: 100%;
}
.reglink{
   position: relative;
   padding:5px 10px ;
}
.reglink .reglink_name {
   width: 100%;
   font-size: 14px;
}

.reglink  .reglink_value {
   position: relative;
   margin: 20px 0;
   text-align: center;
}
.reglink  .reglink_value span {
   font-family: "Microsoft YaHei";
   font-weight: lighter;
   border: solid 1px #f23027;
   height: 40px;
   font-size: 15px;
   line-height: 40px;
   color: #f23027;
   padding:10px 20px;
   border-radius: 5px;
}
.reggroup{
   position: relative;
   padding:5px 0px ; 
}
.reggroup  .reggroup_name {
   width: 100%;
}
.reggroup  .reggroup_name h2 {
   padding:5px 10px;
   font-size: 20px;
   background-color:#fafafa;
   color:#adacac;
   border-bottom:1px solid #eaeaea;  
}
.reg_show_div1 {
   width: 100%;
   height: 36px;
   background: url('images/more2.png') no-repeat 50%;
   background-size: 12px 8px;
   bottom: 0;
}
.reg_show_div2 {
   width: 100%;
   height: 36px;
   background: url('images/more4.png') no-repeat 50%;
   background-size: 12px 8px;
   bottom: 0;
}
.reg_show {
   text-align:center;
   padding: 5px 0px;
   width: 50%;
   margin: 0 auto;
   background-color:#f5f4f4;
   border-radius: 30px;
}
.reg_show .reg_show_zk{
   font-size:18px;
   color:#1894c7;
   margin:0 auto;
}

/* 轮播css -------------------------------------- */
	.slideBox{ position:relative; width:100%; overflow:hidden; margin:0 auto; }
	.slideBox .hd{ position:absolute; height:28px; line-height:28px;z-index:1; }
	.slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
	.slideBox .hd li.on{ background:#fff;  }
	.slideBox .bd{ position:relative; z-index:0; }
	.slideBox .bd li{ position:relative;  }
    .slideBox .bd li img{ width:100%;  display:block;   }
    .slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
    .slideBox .bd li .tit{  display:block;position:absolute; bottom:0; text-indent:10px; line-height:14px; color:#fff; background-color:rgba(0,0,0,0.3);padding:10px; } 
.vcard_biz_face_wrap{
	padding-top:86px;
	padding-bottom: 12px;
}
.vcard_biz .vcard_biz_face{
	position: relative;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	margin-left: 12px;
	box-sizing:border-box;
}
#vcard_biz_face_img_show{width: 72px;height: 72px;border-radius: 50%;	background-size: 72px 72px;background-repeat: no-repeat;}
.vcard_biz .mcover_vard_face{
	display:none;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 20000;
}
.vcard_biz #vcard_face_img{
	border-radius: 50%;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
}
#vcard_biz_face a{
	display: block;
	border-radius: 50%;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
	z-index: 0;	

}
#mcover_vard_face img{
	width:100%;
	height:auto;
}
.vcard_biz_career{
	font-size:18px;
	color:#fff;
	text-align:left;
	padding-left: 110px;
	margin-right: 10px;
	margin-top: 10px;
}
.vcard_biz_career .basic_info{
	text-align:left;
 	background: rgba(0,0,0,0.2);
 	font-size:14px;
 	color:#fff;	
 	padding:10px;
   line-height:30px;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
#vcard_biz_name{
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 18px;
margin-bottom: 2px;
text-shadow: 0px 0px 4px #3C3C3C;
}
.vcard_career_title1{
word-break: break-all;
font-size: 12px;
margin-bottom: 2px;
text-shadow: 0px 0px 3px #333333;
}
.vcard_career_name1{
   overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 12px;
text-shadow: 0px 0px 3px #333333;
}
.basic_info .vcard_career_name{
	word-break:break-all;
}
.vcard_biz_career .basic_info span{
	margin-right:20px;
}
.info{
 	font-size:12px;
 }
 .info a,.info .note,.info .address{
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 17px 10px;
   border-bottom:1px solid #e6e5e4;
}
.info .note,.info .address{
	background:none;
}
 .info .vcard_data_title{
 	color:#a0a0a3;
 	width:70px;
 	display:inline-block;
 	float: left;
 	word-break:break-all;
 	font-size: 12px;
 }
 .info .vcard_data_value{
 	color:#333;
 	font-size:14px;
 	word-break: break-all;
 	padding-left: 100px;
	display: block;
 }

.tip {
   display:none;
   position: fixed;
   z-index: 999;
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   background:rgba(0,0,0,0.6);
}
/*模块导航的CSS*/
.dm_contenter {
   width:100%;
   background-color: #ededed;
}
.dm_content{width:338px;}
.dm_span4 {
   margin: 1px 1px 0 0;
   float:left;
   display: none;
   background-color: #fff;
}
.dm_span4_div1{
  display: block; 
}
.dm_span4_div2{
   display: block;
   overflow: hidden; 
}
.dm_span4 h2 {
  font-size: 16px;
  color: #595959;
  white-space: nowrap;
  overflow: hidden;
}
.dm_text-center {
   text-align: left;
}
/*模块导航END*/
.basic_info {text-align: left;background: #e7e8ec;font-size: 14px;color: #666666;}
.basic_info .basic_info_item {border-top: 1px solid #f3f4f1;padding: 18px 10px;line-height: 20px;}
.info a, .info .note, .info .address {
text-decoration: none;
display: block;
height: 100%;
padding: 18px 12px 18px 12px;
border-bottom: 1px solid #cdcdcd;
}
li.info{
	/*background: url('images/more3.png') right 10px center  no-repeat;
	background-size: 8px;*/
	background-color: #f3f4f9;
}
.borderbottom {
border-bottom: 1px solid #e4e4e4;
}

.borderright {
border-right: 1px solid #e4e4e4;
}
.vcard_biz_head{background-size: cover;
background-position: top center;}
.rich_text ul li{list-style-type: disc;margin-left: 20px;}
/*图集dots样式*/
.banner_img ul li{position: relative;}
.banner_img .dots {
position: relative;
left: 0;
right: 0;
bottom: 20px;
margin:0px;
padding: 0px; 
}
.banner .dots li {
display: inline-block;
width: 10px;
height: 0px;
margin: 0 4px;
text-indent: -999em;
border: 1px solid #fff;
border-radius: 3px;
cursor: pointer;
opacity: .4;
-webkit-transition: background .5s, opacity .5s;
-moz-transition: background .5s, opacity .5s;
transition: background .5s, opacity .5s;
}
.banner .dots li.active {
background: #fff;
opacity: 1;
}
.banner_img ul li .tit{  display:block;position:absolute; bottom:39px;line-height:18px; color:#fff;height:18px;-webkit-transform:translate(2px, 20px);-moz-text-shadow:1px 1px 0px rgba(0,0,0,0.3);-webkit-text-shadow:1px 1px 0px rgba(0,0,0,0.3);text-shadow:1px 1px 0px #000;text-overflow: ellipsis;overflow: hidden;font-size: 18px;text-indent: 10px;letter-spacing: 2px;}
/*微信好友关注css*/
.div_rel{position: relative;}
.focus {
	padding:0px 14px;
	position:absolute;
	display:block;
	height: 22px;
	color:#d03f44;
	font-size: 12px;
	bottom:0px;
	right:0px;
	border:1px solid #af4d4c;
	text-align: center;
	border-radius: 2px;
	line-height: 22px;
	letter-spacing:2px;
	top:50%;
	margin-top: -11px;
}
.focus1 {
	padding:0px 14px;
	position:absolute;
	display:block;
	height: 22px;
	color:#d03f44;
	width: 72px;
	font-size: 12px;
	bottom:0px;
	left: 100px;
	border:1px solid #af4d4c;
	text-align: center;
	border-radius: 2px;
	line-height: 22px;
	letter-spacing:2px;
	top:50%;
	margin-top: -11px;
}
.focus2 {
	padding:0px 14px;
	position:absolute;
	display:block;
	height: 22px;
	color:#d03f44;
	font-size: 12px;
	bottom:0px;
	right:0px;
	border:1px solid #af4d4c;
	text-align: center;
	border-radius: 2px;
	line-height: 22px;
	top:50%;
	margin-top: -11px;
}
.focus3{
	padding:0px 14px;
	position:absolute;
	display:block;
	height: 22px;
	color:#d03f44;
	font-size: 12px;
	bottom:0px;
	left: 100px;
	border:1px solid #af4d4c;
	text-align: center;
	border-radius: 2px;
	line-height: 22px;
	top:50%;
	margin-top: -11px;
}

/*滤镜*/
.vague {
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}
/*地理位置图标*/
.location{
	display: inline-block;
	vertical-align: middle;
	font-size:12px;
	color:#d03f44;
	line-height: 22px;
	text-align: center;
	font-style:normal;
	border:1px solid #af4d4c;
	border-radius: 2px;
	padding: 0px 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.info .vcard_data_value span.address_link{
   font-size: 14px;
   color:#333;
   width:72%;
   word-break: break-all;
   display: inline-block;
   vertical-align: middle;
}
/*草料二维码技术支持*/
.cli_support{padding: 10px 0px;display: block;}
.cli_support_a{
   position:absolute;
   bottom:0px;
   width:100%;
}
.cli_support .cli_logo{
      width: 120px;
      height: 32px;
      margin: 0 auto;
      background:url('images/cli_logo.png') no-repeat center;
      background-size: 103px 15px;
}
.cli_support p{
   color:#999999;
   font-size: 12px;
   line-height: 16px;
   text-align: center;
}.communication .on{border-bottom:3px solid #ff6600;}
.addr_map_btn{background:#ff6600}
.afatra_submit_btn{background:#ff6600}
.line_btn{background:#ff6600}
.links_list li{
	background:#ff6600;
}
.vcard_biz_head{
	/*background-image: -webkit-linear-gradient(top,#fa8b41,#ff6600);
background-image: -moz-linear-gradient(top,#fa8b41,#ff6600);
background-image: -o-linear-gradient(top,#fa8b41,#ff6600);
background-image: -ms-linear-gradient(top,#fa8b41,#ff6600);
background-image: linear-gradient(top,#fa8b41,#ff6600);
background-repeat: repeat-x;*/
	background-color: #ff6600;
}
